[submodule "hermes-polymarket-control"]
	path = hermes-polymarket-control
	url = https://github.com/ray-toaru/hermes-polymarket-control.git
[submodule "polymarket-execution-engine"]
	path = polymarket-execution-engine
	url = https://github.com/ray-toaru/polymarket-execution-engine.git
